## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:


sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[84, 52, 33, 14, 61, 41, 93, 89, 43, 45, 17, 29, 69, 91, 77, 21, 25, 67, 48, 81, 90, 11, 18, 55, 68, 70, 88, 36, 5, 60, 96, 22, 95, 72, 34, 15, 13, 12, 53, 71, 99, 35, 32, 86, 3, 85, 83, 50, 23, 76, 44, 1, 27, 10, 0, 16, 58, 73, 46, 47, 51, 78, 65, 82, 6, 26, 57, 42, 30, 66, 24, 74, 28, 49, 59, 94, 62, 64, 20, 2]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)

len(sample_list_1), len(set1)

{0, 1, 2, 3, 5, 6, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 99}

(80, 80)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = [random.randrange(0,100) for number in range(80)]

    
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here
set2=set(sample_list_2)

print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)

set_test = set1-set2

#if set3 == set_test: print(True)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1

set4_test = set2.difference(set1)

set4, set4_test

({4, 7, 9, 19, 31, 39, 80, 87}, {4, 7, 9, 19, 31, 39, 80, 87})

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5  = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [24]:
# Your code here
len(set1), len(set2) ,len(set3) ,len(set4) ,len(set5)

(80, 53, 35, 8, 45)

In [25]:
form =(len(set5)-len(set3))*len(set4)
if form == len(set1): print(True)

True

#### Create an empty set called `set6`.

In [32]:
# Your code here
set6 = set([])
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [34]:
# Your code here
set6.update(set3)
set6.update(set5)

set6

{0,
 1,
 2,
 3,
 5,
 6,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 81,
 82,
 83,
 84,
 85,
 86,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 99}

#### Check if `set1` and `set6` are equal.

In [35]:
if set1==set6: print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [38]:
# Your code here
isset1 = set1.issubset(set2)
isset3 = set1.issubset(set3)

isset1, isset3

(False, False)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
set7 = set1.union(set3,set4,set5,set1,set2)
set7

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 99}

#### Using the `pop` method, remove the first element from `set1`.

In [45]:
# Your code here
set1.pop()
set1

{2,
 3,
 5,
 6,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 81,
 82,
 83,
 84,
 85,
 86,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
set1

{2,
 3,
 5,
 6,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 53,
 55,
 57,
 58,
 60,
 62,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 76,
 77,
 78,
 82,
 83,
 84,
 85,
 86,
 88,
 90,
 93,
 94,
 95,
 96}